<section class="home-shell">
  <mat-tab-nav-panel #featurePanel>
    <router-outlet></router-outlet>
  </mat-tab-nav-panel>

  <nav mat-tab-nav-bar mat-stretch-tabs [tabPanel]="featurePanel">
    
    @for (tab of tabs; track $index) {}
    <a
      mat-tab-link
      *ngFor="let tab of tabs"
      [routerLink]="['/home', tab.route]"
      routerLinkActive
      #rla="routerLinkActive"
      [routerLinkActiveOptions]="{ exact: true }"
      [active]="rla.isActive">
      <mat-icon aria-hidden="true" style="margin: 3px;;">{{ tab.icon }}</mat-icon>
      <span class="labels" [matTooltip]="tab.description">
        <span class="primary">{{ tab.label }}</span>
      </span>
    </a>
  </nav>
</section>
