@use '@angular/material' as mat;

$light-theme: mat.define-theme((color: (theme-type: light)));
$dark-theme: mat.define-theme((color: (theme-type: dark)));

html {
    @include mat.all-component-themes($light-theme);
}

html.dark-theme {
    @include mat.all-component-colors($dark-theme);
}

.mat-typography {
    background-color: #ddd;
}

.dark-theme {
    .mat-typography {
        background-color: #333;
    }
}

html,
body {
    height: 100%;
    margin: 0;
}